@media screen and (max-width: 600px) {
  .row {
    display: table-row;
  }
}

.col{
  float: left;
  display: table-column;
}
.col-apples{
  display: table-column;
  transform: translate(-300%, -550%);
}

.col button{
  margin-top:50%;
}
